.checkoutItem {
  display: grid;
  grid-template-columns: 210px 90px 84px 100px 15px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #000000;
  margin-bottom: 10px;

  &__btn {
    background-color: #c4c4c4;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    width: 23px;
    height: 23px;

    // &:first-child {
    //   margin-right: 5px;
    // }
    // &:last-child {
    //   margin-left: 5px;
    // }

    &:hover {
      opacity: 0.9;
    }
    &:active {
      opacity: 0.8;
    }
  }

  &__btnContainer {
    display: flex;
    margin-right: 5px;
    margin-left: 5px;
    justify-content: space-between;
    align-items: center;
  }

  &__btnDel {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;
  }
}

@media screen and (max-width: 550px){
  .checkoutItem {
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 25px;
    grid-row-gap: 5px;

    &__title {
      grid-column-start: 1;
      grid-column-end: 6;
      white-space: nowrap;
      text-align: center;
    }
    &__btnDelContainer {
      display: flex;
      justify-content: center;
    }
    &__btnContainer {
      grid-column-start: 2;
      grid-column-end: 4;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 3px;
      margin-right: 3px;
    }
  }
 }
