.footer{
    padding: 15px 0;

    &__up{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__brand{
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-size: 22px;
        line-height: 28px;
        color: #fff;
        margin-top: 20px;
    }

    &__contact {
        display: flex;
        align-items: center;
        text-decoration: none;
    }
}

@media screen and (max-width: 768px){
    .nav-menu--footer{
        display: none;
    }
    .contanct--scope{
        max-width: 100%;
    }
    .contanct__span{
        padding-right: 0;
        display: flex;
        justify-content: center;
    }
    // .contanct__phone {
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    // }
}

@media screen and (max-width: 480px){
    .footer{
        padding: 10px 0;
    }
    .nav-menu--footer{
        display: none;
    }
    .contanct__social{
        display: none;
    }
    .contanct__phone--shift{
        display: none;
    }
}