.nav-menu {
  display: inline-block;
  flex-grow: 1;
  min-height: auto;
  flex-basis: 400px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  &--line {
    border: none;
  }
  &--scope {
    max-width: 450px;
  }
  &__list {
    min-height: 24px;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding: 5px 0;
    margin: 0;
    flex-basis: 200px;
    border: none;
  }
  &__items {
    margin: 0 20px;
    &:last-child {
      .nav-menu__link--mobile-line::after {
        background-color: #fff;
      }
    }
  }
  &__moble-sheet {
    position: absolute;
    top: 120%;
    left: 0;
    background-color: #fff;
    z-index: 2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 5px 0;
    &::before {
      content: "";
      position: absolute;
      width: 40px;
      height: 40px;
      background-color: #fff;
      top: -8px;
      left: 15px;
      transform: rotate(45deg);
    }
  }
  &__link {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    line-height: 23px;
    position: relative;
    display: flex;
    &--size {
      font-size: 24px;
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      background-color: #000;
      transform: scaleX(0);
      transition: transform 0.25s ease;
    }
    &--mobile-line {
      display: flex;
      justify-content: center;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 1px;
        background-color: #000;
      }
    }
    &--white {
      color: #fff;
      &::before {
        content: "";
        background-color: #fff;
      }
    }
    &:hover {
      &::before {
        transform: scaleX(1);
      }
    }
    &--active {
      &::before {
        transform: scaleX(0.5);
      }
    }
  }
  &__span {
    margin-left: 5px;
    white-space: nowrap;
  }
  &__cell-humburger {
    width: 28px;
    height: 28px;
    position: relative;
    cursor: pointer;
    margin: 3px auto;
    display: none;
    &--to-x {
      .nav-menu__humburger {
        animation: middleline 0.5s ease-in-out forwards;
        &::before {
          animation: upline 0.5s ease-in-out forwards;
        }
        &::after {
          animation: bottomline 0.5s ease-in-out forwards;
        }
      }
    }
  }
  &__humburger {
    height: 4px;
    width: 28px;
    border-radius: 30px;
    background-color: #000;
    position: absolute;
    display: block;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    animation: backline 0.5s ease forwards;
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      height: 4px;
      width: 100%;
      background-color: #000;
      border-radius: 30px;
    }
    &::before {
      // top: -2px;
      animation: topline 0.5s ease forwards;
    }
    &::after {
      content: "";
      // bottom: -2px;
      animation: endline 0.5s ease forwards;
    }
  }
  &__moble-close {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
  }
}

.header {
  &__selectedLang {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 36px;
    color: #6a151f;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__langList {
    display: none;
    flex-direction: column;
    background-color: rgba(106, 21, 31, 1);
    text-align: center;
    border-radius: 15px;
    padding: 10px 25px;
    top: 28px;
    left: -40px;
    z-index: 1000;
    position: absolute;

    &:before {
      content: "";
      width: 16px;
      height: 19px;
      display: block;
      position: absolute;
      top: -14px;
      left: 20px;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__langItem {
    list-style-type: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;

    &--active {
      &:after {
        content: "";
        width: 5px;
        height: 5px;
        display: inline-block;
        background-color: #fff;
        border-radius: 50%;
        margin-left: 5px;
      }
    }
  }

  &__lang-container {
    align-self: center;
    margin-left: 15px;
    position: relative;
    &:hover > .header__langList {
      display: flex;
    }
  }

  &__lang-btn {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #6a151f;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    border: none;
  }
}

.logo {
  padding-top: 10px;
  max-width: 330px;
  &__link {
    margin: 0 15px;
  }
  &__image {
    object-fit: cover;
    max-width: 100%;
    width: 300px;
    height: auto;
  }
}

.contanct {
  flex-basis: 400px;
  flex-grow: 1;
  min-height: 37px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  align-items: center;
  height: 34px;
  &--scope {
    max-width: 450px;
  }
  &--line {
    border: none;
  }
  &__area {
    padding: 5px 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  &__select {
    align-self: center;
    border: none;
    outline: none;
    font-weight: 700;
    font-size: 19px;
    display: block;
  }
  &__span {
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
    // min-width: 330px;
    text-align: center;
    &--flex {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-right: 15px;
    }
  }
  &__phone {
    font-size: 20px;
    line-height: 23px;
    color: #000;
    text-decoration: none;
    position: relative;

    &--white {
      color: #fff;
      font-size: 24px;
    }
    &--shift {
      margin-right: 10px;
    }
  }
  &__call {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-120%, -25%);
    &--shift {
      top: 8px;
    }
  }
  &__social {
    margin: 0 5px;
  }
  &__icon {
    width: 40px;
    height: 40px;
  }
}

@keyframes backline {
  0% {
    background-color: transparent;
  }
  40% {
    background-color: transparent;
  }
  100% {
    background-color: #000;
  }
}

@keyframes topline {
  0% {
    bottom: 0;
    transform: rotate(135deg);
  }
  25% {
    bottom: 0;
    transform: rotate(45deg);
  }
  50% {
    bottom: 0;
    transform: rotate(0);
  }
  100% {
    bottom: 8px;
    transform: rotate(0);
  }
}

@keyframes middleline {
  75% {
    background-color: transparent;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes upline {
  0% {
    bottom: 10px;
  }
  50% {
    bottom: 0;
    transform: rotate(0);
  }
  100% {
    bottom: 2px;
    transform: rotate(-45deg);
  }
}

@keyframes bottomline {
  0% {
    top: 8px;
  }
  50% {
    top: -2px;
    transform: rotate(0);
  }
  100% {
    top: -2px;
    transform: rotate(45deg);
  }
}

@keyframes endline {
  0% {
    top: -2px;
    transform: rotate(45deg);
  }
  25% {
    top: -2px;
    transform: rotate(45deg);
  }
  50% {
    top: -2px;
    transform: rotate(0);
  }
  100% {
    top: 8px;
    transform: rotate(0);
  }
}

@media screen and (max-width: 1440px) {
  .nav-menu__items {
    margin: 0 10px;
  }
  .nav-menu__link,
  .contanct__phone {
    font-size: 18px;
  }
  .contanct__area {
    padding: 3px 0;
  }
  .contanct {
    min-height: auto;
  }
}

@media screen and (max-width: 1200px) {
  .logo__image {
    max-width: 270px;
  }
  .contanct {
    flex-basis: 350px;
  }
  .nav-menu {
    flex-basis: 350px;
  }
}

@media screen and (max-width: 335px) {
  .logo__image {
    max-width: 230px;
  }
  .contanct {
    flex-basis: 300px;
  }
  .nav-menu {
    flex-basis: 300px;
  }
}

@media screen and (max-width: 1100px) {
  .logo__image {
    max-width: 200px;
  }
  .contanct__span {
    padding-right: 20px;
    text-align: right;
  }
  .nav-menu__list {
    margin-right: -10px;
  }
}

@media screen and (max-width: 998px) {
  .contanct__phone--heade {
    display: none;
  }
  // .nav-menu__heade {
  //   display: none;
  // }
  .nav-menu__cell-humburger {
    display: block;
  }
  .order-menu__contact {
    transform: translateX(30px);
  }
  .contanct__span--flex {
    margin-right: 15px;
  }
}

// @media screen and (max-width: 769px) {
//   .contanct__span {
//     display: none;
//   }
// }
