.nav-menu{
    display: inline-block;
    flex-grow: 1;
    min-height: 37px;
    flex-basis: 400px;
    &__list{
        display: flex;
        list-style-type: none;
        justify-content: space-around;
        padding: 5px 0;
        margin: 0;
        flex-basis: 200px;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
    }
    &__items{
        margin: 0 20px;
    }
    &__link{
        text-decoration: none;
        color: #000;
        font-size: 20px;
        line-height: 23px;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 1px;
            background-color: #000;
            transform: scaleX(0);
            transition: transform .25s ease;
        }
        &:hover{
            &::before{
                transform: scaleX(1);
            }
        }
        &--active{
            &::before{
                transform: scaleX(.5);
            }
        }
    }
    &__span{
        margin-left: 5px;
    }
}

.logo{
    flex-grow: 1;
    max-width: 330px;
    &__link{
        margin: 0 15px;
    }
    &__image{
        object-fit: cover;
    }
}

.contanct{
    flex-basis: 400px;
    flex-grow: 1;
    min-height: 37px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    display: flex;
    align-items: center;
    &__area{
        padding: 5px 0;
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    &__select{
        align-self: center;
        border: none;
        outline: none;
        font-weight: 700;
        font-size: 19px;
    }
    &__span{
        align-items: center;
        width: 100%;
        text-align: center;
    }
    &__phone{
        font-size: 20px;
        line-height: 23px;
        color: #000;
        text-decoration: none;
        position: relative;
    }
    &__call{
        position: absolute;
        left: 0;
        top: 0;
        transform: translate(-120%, -25%);
    }
}