.checkout {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;

  &__modal {
    padding: 5px 30px 20px 30px;
    background: #f1f1f1;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    max-width: 585px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__items {
    display: flex;
    flex-direction: column;
  }

  &__title {
    text-align: center;
    margin-bottom: 10px;
  }

  &__totalSum {
    text-align: right;
    font-weight: bold;
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  &__inputContainer {
    display: grid;
    grid-template-columns: 90px 50%;
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    margin-bottom: 10px;
    min-width: 200px;
  }

  &__input {
    background: #ffffff;
    border-radius: 5px;
    outline: none;
    font-weight: bold;
    width: 100%;
    padding: 2px 5px;

    &--error {
      border: 2px solid red;
    }
  }

  &__btnContainer {
    text-align: center;
  }

  &__btnSubmit {
    background: #72b847;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 1.2rem;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;

    &:hover {
      background: #5e973b;
    }
    &:active {
      background: #4e7e30;
    }
  }
  &__btnClose {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


@media screen and (max-width: 580px){
 .checkout {
   &__modal {
    padding: 5px 10px 10px 10px;
   }
   &__title {
     font-size: 0.9rem;
   }
 }
}
